//defining paths to programmes, containeres/enviroenmnts  
params {
    python = 'SciPy-bundle/2023.11-gfbf-2023b' //otherwise there will be an error in agfusion, stating that the programme was compiled with numpy v 1.x and not v.2.x. This load numpy 1.26
    samtools = 'SAMtools/1.11'
    db = '/agfusion.homo_sapiens.111.db'
    gtf = 'gencode.v29.chr_patch_hapl_scaff.annotation.gtf'

    conda_longgf ='/longgf_env'
    conda_R = 'R_tidy_env'

    //mamba = 'Mamba/23.1.0-0'

    pvactools = 'pvactools.sif'

    jaffal = 'jaffa_latest.sif'
    jaffal_ref = 'jaffal/references'

    expression_geneid_column = ""

}

workDir = "${params.outdir}/work"
outputDir = "${params.outdir}"
workflow.output.mode = 'copy'

// Preform work directory cleanup after a successful run?
cleanup = false

timeline {
  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline.timeline.html"
  overwrite = true
}

report {
  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline.report.html"
  overwrite = true
}

trace {
  enabled   = true
  file      = "${params.outdir ?: 'results'}/pipeline.trace.txt"
  fields    = 'task_id,process,tag,status,exit,submit,start,complete,duration,realtime,%cpu,peak_rss,peak_vmem,rss,vmem'
  overwrite = true
}


/*
    * -------------------------------------------------
    *  Nextflow nf-core config file for ICR alma HPC
    * -------------------------------------------------
    * Defines slurm process executor and singularity
    * settings.
    *
    */
params {

    config_profile_description = "Nextflow nf-core profile for ICR alma HPC"
    config_profile_contact = "Rachel Alcraft (@rachelicr), Mira Sarkis (@msarkis-icr)"
    max_memory = 256.GB
    max_cpus = 30
    max_time = 5.d
}

process {
    queue          = "compute"
    executor       = "slurm"
    time           = 5.d
    shell          = ['/bin/bash', '-euo', 'pipefail']
    maxRetries     = 3
    maxErrors      = '-1'
    clusterOptions = '--mem-per-cpu=8000'
    resourceLimits = [
        memory: 256.GB,
        cpus: 30,
        time: 5.d
    ]
    withName: JAFFAL {
        errorStrategy = 'retry'
        maxRetries    = 1
        cpus          = { [4,8][task.attempt-1] ?: 8 }
    }
    withName: Longgf {
        errorStrategy = 'retry'
        maxRetries    = 2
        cpus          = { [1,2,4][task.attempt-1] ?: 8 }
    }
}

conda.enabled   = true

process {
    withName: LonggfPrep {
        module = params.samtools 
    }
    withName:Longgf {
        module = 'Mamba/23.1.0-0'  // Load the mamba module
        conda = "${params.conda_longgf}"  // Path to the conda environment YAML file
    }
    withName: PvacFuse {
        container = params.pvactools
    }
    withName: Jaffal {
        container = params.jaffal
    }
    withName: AGFusion {
        module = params.python
    }
    withName: Consensus {
        module = 'Mamba/23.1.0-0'  // Load the mamba module
        conda = "${params.conda_R}"  // Path to the conda environment YAML file
    }
}

singularity {
    enabled = true
    runOptions = "--no-home --bind /mnt:/mnt --bind /data:/data --bind ${params.jaffal_ref}:/ref"
    autoMounts = true
    pullTimeout = 2.h
    cacheDir = '/data/scratch/shared/SINGULARITY-DOWNLOAD/nextflow/.singularity'
}
